.jumbotron {
    padding-top: 6rem;
    border: 0px;
    background-color: black;
  }
  
  #blog {
    background-color: black;
  }
  
  #contact {
    background-color: black;
  }
  
  section {
    padding-top: 5rem;
  }
  footer {
    background-color: white;
  }